
@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS04-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS04-ExtendedHeavyItalic.ttf') format('truetype');
}
